name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest         
    strategy:
      matrix:
        java: [ 11 ]      
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn clean install -Pcoverage
      
    - name: Ipload CodeCov
      uses: codecov/codecov-action@v1
      with:
        files: ./**/target/site/jacoco/jacoco.xml
        flags: unittests
        fail_ci_if_error: false
        verbose: true
          